
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Steel.js Todos</title>
  <link rel="stylesheet" href="http://backbonejs.org/examples/todos/todos.css"/>

  <script src="generated-js/jquery/jquery.js"></script>
  <script src="generated-js/stjs.js"></script>
  <script src="observe.js"></script>
  <script src="generated-js/steel-mvc.js"></script>
  <script src="generated-js/steel-example.js"></script>

<style type="text/css">
#main {
  display: block;
}
</style>
</head>

<body>
  <script>new TodoApp().appendTo(document.body)</script>

  <div id="instructions">
    Double-click to edit a todo.
  </div>

  <div id="credits">
    Created by
    <br />
    <a href="http://jgn.me/">J&eacute;r&ocirc;me Gravel-Niquet</a>.
    <br />Rewritten by: <a href="http://addyosmani.github.com/todomvc">TodoMVC</a>.
    <br />Rewritten by: <a href="http://github.com/acraciun">Alexandru Craciun</a>.
  </div>


<!-- Templates -->
   <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- title %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
  </script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>



  </body>
</html>
